.banner {
  position: relative;
  margin: 0 auto;
}
.banner img {
  width: 100%;
}
.heading {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 50px;
  position: absolute;
  top: 5%;
  right: 15%;
  text-align: right;
}
.description {
  color: white;
  font-family: "Work Sans", sans-serif;
  position: absolute;
  font-size: 15px;
  text-align: right;
  top: 40%;
  right: 15%;
}
.button {
  background-color: white;
  position: absolute;
  top: 70%;
  right: 15%;
  width: 150px;
  height: 25px;
  border: none;

  text-align: center;
  padding-top: 10px;
  border-radius: 5px;
}
.btn-text {
  border: none;
  background-color: white;
  font-family: "Work Sans", sans-serif;
  color: rgb(67, 49, 233);
  text-align: center;
  font-size: 15px;
}

.body {
  border: none;
  display: flex;
  padding-left: 200px;
  padding-top: 100px;
}
.details {
  font-family: "Work Sans", sans-serif;
  padding-left: 300px;
  text-align: left;
}
.details1 {
  font-size: 50px;
  font-weight: 50px;
}
.details2 {
  padding-top: 70px;
}
.details3 {
  padding-top: 30px;
}

.body-header {
  font-family: "Work Sans", sans-serif;
  font-size: 60px;
  padding-top: 50px;
  text-align: center;
}

.skills {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
  padding-right: 300px;
  padding-left: 300px;
}
.skills-container {
  text-align: center;
}
